.info-button {
  color: var(--third-color);
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.back-button {
  cursor: pointer;
  color: var(--third-color);
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.leaderboard-text-header {
  display: flex;
  gap: 5px;
  align-items: center;
}
.leaderboard-scores div:first-child {
  background-color: var(--second-color);
}
.leaderboard-scores {
  margin-top: 25px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.leaderboard-scores div {
  display: flex;
  padding: 10px;
  gap: 50px;
  background-color: var(--fourth-color);
  color: white;
  font-weight: 600;
  
  justify-content: start;
}
.leaderboard-scores div span {
  min-width: 50px;
  display: block;
}