.info-button {
  color: var(--third-color);
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.back-button {
  cursor: pointer;
  color: var(--third-color);
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.leaderboard-text-header {
  display: flex;
  gap: 5px;
  align-items: center;
}